<template>
  <div class="m-5">
    <!-- Component for search field. -->
    <FindRestaurant @emitValueSearch="onSearch" />

    <!-- Loding -->
    <div class="text-center mt-4" v-if="value.loading">
      <div class="spinner-border text-info" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div>LOADING</div>
    </div>

    <!-- Error message -->
    <div class="text-danger fs-4 text-center mt-2" v-if="value.err_message">
      * {{ value.err_message }}
    </div>

    <div class="row mt-4" v-if="value.restaurants.length > 0">
      <div class="fw-bold mb-2">Result</div>

      <!-- Component for list resaurant-->
      <ListRestautant
        v-for="(item, index) in value.restaurants"
        :key="index"
        :name="item.name"
        :address="item.address"
        :photo="item.photo"
        :rating="item.rating"
        :lat="item.lat"
        :lng="item.lng"
      />
    </div>
  </div>
</template>

<script lang="ts" setup>
import ListRestautant from "@/components/ListRestautant.vue";
import FindRestaurant from "@/components/FindRestaurant.vue";
import { reactive } from "@vue/reactivity";

interface restarantIF {
  name: string;
  address: string;
  photo?: string;
  rating?: number;
  lat: number;
  lng: number;
}

// variable zone

const value = reactive({
  restaurants: <Array<restarantIF>>[],
  loading: false,
  err_message: "",
});

// methods zone

// method onSeach call api by keyword for saerch restaurant
const onSearch = (keyword: string) => {
  value.loading = true;
  value.err_message = "";

  fetch(process.env.VUE_APP_BASE_URL + "api/restaurant/" + keyword)
    .then((response) => response.json())
    .then((res) => {
      value.loading = false;
      value.restaurants = [];
      if (res.status === 200) {
        value.restaurants = res.data;
      } else if (res.status === 400) {
        value.err_message = res.msg;
      }
      {
      }
    })
    .catch((err) => {
      console.log(err);
    });
};
</script>
