<template>
  <div class="row justify-content-center">
    <div class="col-12 col-xxl-8">
      <div class="bg-block-search p-3 rounded-3">
        <div class="-mt-35px mb-4">
          <span
            class="responsive-text-head mb-3 fw-bold rounded-5 bg-text-head p-2"
          >
            Find a place for restaurants
          </span>
        </div>

        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Restaurants near the place"
            aria-label="Recipient's username"
            aria-describedby="basic-addon2"
            v-model="search"
            @keyup.enter="onSearch"
          />
          <span
            class="input-group-text btn-search"
            :class="search ? 'btn-search' : 'btn-search-disabled'"
            role="button"
            :style="search ? 'pointer-events: auto' : 'pointer-events: none'"
            @click="onSearch"
            id="basic-addon2"
            >{{ "search".toUpperCase() }}</span
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref, onMounted } from "vue";

// variable zone
const search = ref<string>("Bang Sue");
const emit = defineEmits(["emitValueSearch"]);

// methods zone
onMounted(async () => {
  emit("emitValueSearch", search.value);
});

const onSearch = () => {
  // emit value keyword to parent
  emit("emitValueSearch", search.value);
};
</script>

<style scoped>
.btn-search {
  background-color: #957dad;
  color: white;
  border: #957dad;
}
.btn-search-disabled {
  background-color: gray;
  color: white;
  border: gray;
}

.bg-block-search {
  background-color: #fec8d8;
}

.bg-text-head {
  background-color: #d291bc;
  color: white;
}

.-mt-35px {
  margin-top: -35px;
}

/* Responsive for text head */
@media (min-width: 502px) {
  .responsive-text-head {
    font-size: 28px;
  }
}
@media (max-width: 502px) {
  .responsive-text-head {
    font-size: 18px;
  }
}
</style>
