<template>
  <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
    <div class="card border-0 mb-3 pe-auto" @click="onOpenMap">
      <img
        :src="
          props.photo !== null
            ? props.photo
            : 'https://upload.wikimedia.org/wikipedia/commons/d/d1/Image_not_available.png'
        "
        class="card-img-top"
      />

      <div class="card-body">
        <div class="fw-bold">{{ props.name }}</div>

        <div class="fs-14px sub-str-address">
          {{ props.address }}
        </div>

        <div class="d-flex justify-content-between fs-12px">
          <div>Riting</div>
          <div>{{ props.rating ? props.rating : "no score" }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
const props = defineProps({
  name: String,
  address: String,
  photo: String,
  rating: Number,
  lat: Number,
  lng: Number,
});

const onOpenMap = () => {
  window.open(
    `https://www.google.co.th/maps/place/${props.name}/@${props.lat},${props.lng},18z/`,
    "_blank"
  );
};
</script>

<style scoped>
.sub-str-address {
  height: 45px;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-body {
  height: 150px;
}

.card-img-top {
  height: 150px;
  object-fit: none;
}

.card {
  transition: 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}
</style>
